In [132]:
import pandas as pd
import json
import numpy as np

In [5]:
path1=r'C:\Users\jsao\Documents\Processing\sketch_200325a\ttgyd\processing\data\sketch_200328a\location.json'
path2 = r'C:\Users\jsao\Documents\Processing\sketch_200325a\ttgyd\processing\data\sketch_200328a\countries-latest.json'

In [10]:
with open(path1,'r') as f:
    location = json.loads(f.read())

In [13]:
with open(path2,'r') as f:
    data = json.loads(f.read())

In [14]:
data[0]

{'country': 'Afghanistan',
 'date': '2020-03-22T00:00:00.000000Z',
 'confirmed': '40',
 'deaths': 1,
 'recovered': 1}

In [15]:
location[0]

{'country': 'AD',
 'latitude': 42.546245,
 'longitude': 1.601554,
 'name': 'Andorra'}

In [28]:
df = pd.read_json(path1)

In [31]:
data = pd.read_json(path2)

In [40]:
data[data['country']=='Andorra']['confirmed'].mean()

113.0

In [85]:
df['confirmed'] = 0

In [137]:
df.to_csv(r'D:\datasets.csv')

In [110]:
for i in data['country']:
    df['confirmed'][df['name'] == i] = data['confirmed'][data['country'] == i].mean()

In [60]:
df['confirmed'].unique()

array([None], dtype=object)

In [61]:
data[data['country'] == 'China']['confirmed'].mean()

76516.0

In [84]:
df['confirmed'][df['country'] == 'China'] = 1

In [106]:
df['confirmed'][df['name'] == 'Andorra'] = 1

In [98]:
df['confirmed'][df['country'] == 'China'].mean()

nan

In [134]:
df['confirmed_log'] = df['confirmed'].apply(np.log1p)

In [136]:
df['confirmed_log'].sort_values

<bound method Series.sort_values of 0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
         ...
240     9.982253
241    10.121578
242    10.267054
243    10.987646
244    11.245268
Name: confirmed_log, Length: 245, dtype: float64>

In [139]:
del df[df['confirmed']==0]

TypeError: '0       True
1       True
2       True
3       True
4       True
       ...
240    False
241    False
242    False
243    False
244    False
Name: confirmed, Length: 245, dtype: bool' is an invalid key

In [143]:
newdf = df[df['confirmed']!=0]

In [145]:
newdf.sort_values('confirmed')

    country latitude longitude           name  confirmed  confirmed_log
124      LB  33.8547   35.8623        Lebanon        1.0       0.693147
125      LC  13.9094  -60.9789    Saint Lucia        1.0       0.693147
126      LI   47.166   9.55537  Liechtenstein        1.0       0.693147
127      LK  7.87305   80.7718      Sri Lanka        1.0       0.693147
128      LR  6.42805   -9.4295        Liberia        1.0       0.693147
..      ...      ...       ...            ...        ...            ...
240      YE  15.5527   48.5164          Yemen    21638.0       9.982253
241      YT -12.8275   45.1662        Mayotte    24873.0      10.121578
242      ZA -30.5595   22.9375   South Africa    28768.0      10.267054
243      ZM -13.1339   27.8493         Zambia    59138.0      10.987646
244      ZW -19.0154   29.1549       Zimbabwe    76516.0      11.245268

[121 rows x 6 columns]

In [159]:
data.sort_values('confirmed')

,country,date,confirmed,deaths,recovered,latitude,longitude
22,Cape Verde,2020-03-22 00:00:00+00:00,0,0,0,16.0021,-24.013197
35,East Timor,2020-03-22 00:00:00+00:00,0,0,0,NaN,NaN
99,Puerto Rico,2020-03-22 00:00:00+00:00,0,1,0,18.2208,-66.590149
51,Guam,2020-03-22 00:00:00+00:00,0,1,0,13.4443,144.793731
122,Timor-Leste,2020-03-22 00:00:00+00:00,1,0,0,-8.87422,125.727539
...,...,...,...,...,...,...,...
46,Germany,2020-03-22 00:00:00+00:00,24873,94,266,51.1657,10.451526
113,Spain,2020-03-22 00:00:00+00:00,28768,1772,2575,40.4637,-3.749220
129,US,2020-03-22 00:00:00+00:00,33193,417,178,NaN,NaN
62,Italy,2020-03-22 00:00:00+00:00,59138,5476,7024,41.8719,12.567380
24,China,2020-03-22 00:00:00+00:00,76516,3210,67549,35.8617,104.195397

In [151]:
data['latitude'] = 0

In [152]:
data['longitude'] = 0

In [156]:
for i in data['country']:
    data['latitude'][data['country'] == i] = df['latitude'][df['name'] == i].mean()

In [158]:
for i in data['country']:
    data['longitude'][data['country'] == i] = df['longitude'][df['name'] == i].mean()

In [165]:
a = data['country'][data['latitude'].isnull()]

In [201]:
new.to_csv(r'C:\Users\jsao\Documents\Processing\sketch_200325a\ttgyd\processing\data\sketch_200328a\datasets.csv')

In [167]:
a.to_list()

['Congo (Kinshasa)',
 'Czechia',
 'East Timor',
 'Eswatini',
 'Korea, South',
 'North Macedonia',
 'Reunion',
 'Taiwan*',
 'US']

In [200]:
new = pd.read_csv(r'D:\data.csv')

In [175]:
new

,Unnamed: 0,country,date,confirmed,deaths,recovered,latitude,longitude
0,0,Afghanistan,2020-03-22 00:00:00+00:00,40,1,1,33.939110,67.709953
1,1,Albania,2020-03-22 00:00:00+00:00,89,2,2,41.153332,20.168331
2,2,Algeria,2020-03-22 00:00:00+00:00,201,17,65,28.033886,1.659626
3,3,Andorra,2020-03-22 00:00:00+00:00,113,1,1,42.546245,1.601554
4,4,Argentina,2020-03-22 00:00:00+00:00,225,4,3,-38.416097,-63.616672
...,...,...,...,...,...,...,...,...
121,128,Uruguay,2020-03-22 00:00:00+00:00,135,0,0,-32.522779,-55.765835
122,129,US,2020-03-22 00:00:00+00:00,33193,417,178,37.090240,-95.712891
123,130,Venezuela,2020-03-22 00:00:00+00:00,70,0,15,6.423750,-66.589730
124,131,Vietnam,2020-03-22 00:00:00+00:00,113,0,17,14.058324,108.277199
125,132,Zambia,2020-03-22 00:00:00+00:00,3,0,0,-13.133897,27.849332

In [198]:
new['confirmed_log'] = new['confirmed'].apply(np.log1p)

In [191]:
new

,Unnamed: 0,country,date,confirmed,deaths,recovered,latitude,longitude,confirmed_log
0,0,Afghanistan,2020-03-22 00:00:00+00:00,40,1,1,33.939110,67.709953,3.688879
1,1,Albania,2020-03-22 00:00:00+00:00,89,2,2,41.153332,20.168331,4.488636
2,2,Algeria,2020-03-22 00:00:00+00:00,201,17,65,28.033886,1.659626,5.303305
3,3,Andorra,2020-03-22 00:00:00+00:00,113,1,1,42.546245,1.601554,4.727388
4,4,Argentina,2020-03-22 00:00:00+00:00,225,4,3,-38.416097,-63.616672,5.416100
...,...,...,...,...,...,...,...,...,...
121,128,Uruguay,2020-03-22 00:00:00+00:00,135,0,0,-32.522779,-55.765835,4.905275
122,129,US,2020-03-22 00:00:00+00:00,33193,417,178,37.090240,-95.712891,10.410094
123,130,Venezuela,2020-03-22 00:00:00+00:00,70,0,15,6.423750,-66.589730,4.248495
124,131,Vietnam,2020-03-22 00:00:00+00:00,113,0,17,14.058324,108.277199,4.727388
125,132,Zambia,2020-03-22 00:00:00+00:00,3,0,0,-13.133897,27.849332,1.098612

In [194]:
new['confirmed_log'].sort_values()

22          -inf
47          -inf
94          -inf
45      0.000000
31      0.000000
         ...
42     10.121538
107    10.267019
122    10.410094
58     10.987629
24     11.245255
Name: confirmed_log, Length: 126, dtype: float64

In [199]:
new['confirmed_log'].describe()

count    126.000000
mean       5.055459
std        2.377733
min        0.000000
25%        3.656583
50%        5.011523
75%        6.427546
max       11.245268
Name: confirmed_log, dtype: float64